.c-nav {
    // position: absolute;
    // bottom: 0;
    // transform: translateY(100%);
    &__list {
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // transform: translateY(100%);
        // transform: scale(0.1);
        // opacity: 0;
        // transition: all .2s ease-in-out;

        @include medium-up {
            display: flex;
            gap: $grid-base * 2;
            // position: static;
            // transform: none;
        }

        @include large-up {
            transform: none;
            width: auto;
            height: auto;
            position: unset;
            background-color: transparent;
            opacity: 1;
            box-shadow: none;
            padding: 0;
        }

        &--active {
            
            }
    }

    &__item {
        display: block;
        width: 100%;
        
        @include large-up {

        }
    }

    &__link {
        // background-color: orange;
        color: $gray;
        display: block;
        font-size: $font-size-4;
        font-weight: 600;
        padding: $grid-base $grid-base;

        &:hover {
            color: $accent-color;
            text-decoration: none;
        }
        
        @include medium-up {
            line-height: $grid-base * 12;
        }
    }
}


// hamburger -------------------------------------------------------------------------------------

.c-nav {
    &__hamburger {
        // padding: 10px;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: rgba($color: $accent-color, $alpha: .8);
        border-radius: 50%;
        border: 0;
        margin: 0;
        width: 70px;
        // height: 44px;
        height: 70px;
        transition: all .2s ease-in-out;
        @include large-up {
            display: none;
        }
        &:hover {
            background-color: rgba($color: $accent-color, $alpha: 1.0);
        }
    }

    &__hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
        background-color: transparent;
    }

    &__hamburger-inner {
        width: 100%;
        height: 2px;
        background-color: $white;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.3s 0.1s ease-in-out;
    }

    &__hamburger-inner:before, 
    &__hamburger-inner:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $white;
        position: absolute;
        left: 0;
        transition: transform 0.3s  ease-in-out;
    }

    &__hamburger-inner:before {
        top: -12px;
        }

    &__hamburger-inner:after {
        top: 12px;
        }

    &__hamburger--active &__hamburger-inner {
        background-color: transparent;
        }

    &__hamburger--active {
        // transform: translateX(-240px);
        }

    &__hamburger--active &__hamburger-inner:before {
        transform: translateY(12px) rotate(45deg);
        }

    &__hamburger--active &__hamburger-inner:after {
        transform: translateY(-12px)       rotate(-45deg);
        }

    &__hamburger {
        transition: transform 0.3s 0.1s ease-in-out;
        }
}  


  