*, *::before, *::after {
  box-sizing: border-box;
}

html {
  max-width: 1920px;
}

body {
  background-color: #fff;
  color: #0A0E21;
  font-family: "Inter", "sans-serif";
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #404040;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: #404040;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.o-container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 900px) {
  .o-container {
    max-width: 740px;
  }
}
@media (min-width: 1200px) {
  .o-container {
    max-width: 1140px;
  }
}

.o-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 900px) {
  .o-row {
    flex-direction: row;
  }
}
.o-row--center-y {
  align-items: center;
}

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 900px) {
  .o-col--md50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 900px) {
  .o-col--md25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 900px) {
  .o-col--md75 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 900px) {
  .o-col--md33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
@media (min-width: 1200px) {
  .o-col--lg50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .o-col--lg25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 1200px) {
  .o-col--lg33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
@media (min-width: 1200px) {
  .o-col--lg75 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.c-btn {
  border: none;
  color: #0A0E21;
  display: inline-flex;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 15px 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.c-btn:hover {
  text-decoration: none;
}
.c-btn--primary {
  background-color: #cce9ef;
}
.c-btn--transparent {
  padding: 15px 0;
}

.c-heading {
  color: #0A0E21;
  line-height: 1.2;
  margin-bottom: 15px;
}
.c-heading--level1 {
  font-family: "Playfair display", serif;
  font-size: 3.125rem;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .c-heading--level1 {
    font-size: 4.375rem;
  }
}
.c-heading--level2 {
  font-family: "Playfair display", serif;
  font-size: 3.125rem;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .c-heading--level2 {
    font-size: 3.125rem;
  }
}
.c-heading--level3 {
  font-size: 1.125rem;
}
.c-heading--level4 {
  font-size: 1rem;
}
.c-heading--level5 {
  font-size: 0.875rem;
}
.c-heading--upper {
  text-transform: uppercase;
}
.c-heading--white {
  color: #fff;
}

.c-nav__list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translate(-100%, 100%);
  transition: all 0.25s ease-in-out;
  z-index: 1;
}
@media (min-width: 900px) {
  .c-nav__list {
    position: static;
    transform: translate(0, 0);
    display: flex;
    gap: 30px;
    position: static;
    transform: none;
  }
}
@media (min-width: 1200px) {
  .c-nav__list {
    transform: none;
    width: auto;
    height: auto;
    position: unset;
    background-color: transparent;
    opacity: 1;
    box-shadow: none;
    padding: 0;
  }
}
.c-nav__list--active {
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
}
@media (min-width: 900px) {
  .c-nav__list--active {
    transform: translate(0, 0);
  }
}
.c-nav__item {
  display: block;
  width: 100%;
}
.c-nav__item--active {
  display: none;
}
.c-nav__link {
  background-color: #fff;
  color: #404040;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  transition: all 0.15s ease-in-out;
}
.c-nav__link:hover {
  color: #cce9ef;
  text-decoration: none;
}
@media (min-width: 900px) {
  .c-nav__link {
    line-height: 120px;
  }
}

.c-nav__hamburger {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  width: 50px;
}
@media (min-width: 900px) {
  .c-nav__hamburger {
    display: none;
  }
}
.c-nav__hamburger-box {
  width: 40px;
  height: 24px;
  position: relative;
}
.c-nav__hamburger-inner {
  width: 100%;
  height: 2px;
  background-color: #0A0E21;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.15s 0.1s ease-in-out;
}
.c-nav__hamburger-inner:before, .c-nav__hamburger-inner:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #0A0E21;
  position: absolute;
  left: 0;
  transition: transform 0.15s ease-in-out;
}
.c-nav__hamburger-inner:before {
  top: -12px;
}
.c-nav__hamburger-inner:after {
  top: 12px;
}
.c-nav__hamburger--active .c-nav__hamburger-inner {
  background-color: transparent;
}
.c-nav__hamburger--active .c-nav__hamburger-inner:before {
  transform: translateY(12px) rotate(45deg);
}
.c-nav__hamburger--active .c-nav__hamburger-inner:after {
  transform: translateY(-12px) rotate(-45deg);
}

.c-icon-box {
  text-align: center;
}
.c-icon-box__image {
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 100px;
  width: 120px;
  height: 120px;
}
.c-icon-box__text {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 15px;
}

.c-pagination {
  display: none;
  position: absolute;
  left: -60px;
  bottom: 0;
}
@media (min-width: 900px) {
  .c-pagination {
    display: flex;
  }
}
.c-pagination__item {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
  transition: all 0.15s ease-in-out;
}
.c-pagination__item--active {
  background-color: #cce9ef !important;
}
.c-pagination__item:hover {
  background-color: #f2f2f2;
}

.c-label {
  color: #fff;
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.c-big-label {
  font-family: "Playfair display";
  font-style: italic;
  letter-spacing: 25px;
  line-height: 150px;
  font-size: 150px;
  color: #f2f2f2;
  font-weight: 900;
  margin-bottom: 20px;
  -webkit-text-stroke: 0.5px #f2f2f2;
  z-index: -1;
}

.c-list__item {
  margin-bottom: 12px;
}
.c-list--unstyled {
  list-style-type: none;
}

.t-site-header {
  align-items: center;
  display: flex;
  gap: 80px;
  justify-content: space-between;
  position: relative;
  min-height: 100px;
}
@media (min-width: 900px) {
  .t-site-header {
    justify-content: flex-start;
  }
}
.t-site-header__image {
  display: block;
}

.contact-bar {
  padding: 1rem 0;
}
.contact-bar__item {
  align-items: center;
  display: flex;
  height: 100%;
  margin-bottom: 2rem;
}
.contact-bar__image {
  opacity: 50%;
  margin-right: 15px;
  width: 30px;
}
.contact-bar a {
  display: block;
}

.t-site-footer__inner {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  .t-site-footer__inner {
    flex-direction: row;
    gap: 80px;
    margin-right: 100px;
    padding-bottom: 0;
  }
}
.t-site-footer__logo {
  background-color: #0A0E21;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin-top: -75px;
}
@media (min-width: 1200px) {
  .t-site-footer__logo {
    margin-top: 0;
  }
}
.t-site-footer__list {
  margin: 0;
  list-style-type: none;
}
@media (min-width: 1200px) {
  .t-site-footer__list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  }
}
.t-site-footer__link {
  color: #404040;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  transition: all 0.15s ease-in-out;
  line-height: 60px;
}
.t-site-footer__link:hover {
  color: #cce9ef;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .t-site-footer__link {
    line-height: 120px;
  }
}
.t-site-footer__item--active {
  display: none;
}
@media (min-width: 1200px) {
  .t-site-footer__button {
    margin-left: auto;
    margin-right: -100px;
  }
}

.t-welcome-section {
  position: relative;
  margin-bottom: 200px;
}
.t-welcome-section__text {
  padding: 0 50px 0 50px;
}
@media (min-width: 900px) {
  .t-welcome-section__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 100px 0 100px;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .t-welcome-section__text {
    padding: 0 150px 0 150px;
  }
}
.t-welcome-section__picture {
  display: none;
}
@media (min-width: 900px) {
  .t-welcome-section__picture {
    background: url(/images/man-in-glasses.jpg) center;
    background-size: cover;
    display: block;
    height: 100%;
    min-height: 500px;
  }
}
.t-welcome-section__label {
  position: absolute;
  left: 0;
  top: -75px;
}

.t-portfolio-section {
  margin-bottom: 200px;
}
.t-portfolio-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.t-portfolio-section__item {
  height: 600px;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .t-portfolio-section__item {
    margin-bottom: 0;
  }
}
.t-portfolio-section__item--one {
  background-image: url(/images/home2.png);
}
.t-portfolio-section__item--two {
  background-image: url(/images/home3.png);
}
.t-portfolio-section__item--three {
  background-image: url(/images/home4.png);
}
.t-portfolio-section__first-button {
  display: none;
}
@media (min-width: 900px) {
  .t-portfolio-section__first-button {
    display: inline-flex;
  }
}
@media (min-width: 900px) {
  .t-portfolio-section__second-button {
    display: none;
  }
}

.t-about-us {
  background: url(/images/team.jpg) center;
  background-size: cover;
  padding: 150px 50px;
  margin-bottom: 200px;
}
@media (min-width: 900px) {
  .t-about-us {
    padding: 150px 100px;
  }
}
@media (min-width: 1200px) {
  .t-about-us {
    padding: 150px 150px;
  }
}

.t-hero-section {
  background: url(./images/home1.png) center;
  background-size: cover;
  padding: 150px 50px;
  position: relative;
  margin-bottom: 200px;
}
@media (min-width: 900px) {
  .t-hero-section {
    padding: 200px 100px;
  }
}
@media (min-width: 1200px) {
  .t-hero-section {
    padding: 200px 150px;
  }
}
@media (min-width: 900px) {
  .t-hero-section__text {
    max-width: 50%;
  }
}

.u-mb1 {
  margin-bottom: 10px;
}

.u-mb2 {
  margin-bottom: 20px;
}

.u-mb3 {
  margin-bottom: 30px;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

@media (min-width: 1200px) {
  .u-text-lg-right {
    text-align: right !important;
  }
}

.u-bg-color-white {
  background-color: #fff;
}

.u-white {
  color: #fff;
}

.u-hover-animation {
  color: #ddd;
}
.u-hover-animation:hover {
  position: relative;
  color: #cce9ef;
  text-decoration: none;
  transition: color 0.3s;
}
.u-hover-animation:hover span:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  position: absolute;
  bottom: 5px;
}
@media (min-width: 1200px) {
  .u-hover-animation:hover span:after {
    background-color: #cce9ef;
  }
}