.t-about-us {
    background: url(/images/team.jpg) center; 
    background-size: cover;
    padding: $grid-base * 15 $grid-base * 5;
    margin-bottom: $grid-base * 20;

    @include medium-up {
        padding: $grid-base * 15 $grid-base * 10;
    }

    @include large-up {
        padding: $grid-base * 15 $grid-base * 15;
    }
}